<div class="row mt-50">
  <div class="col setting-actions justify-content-between d-flex h-70 align-items-center">
    <h2 class="text-cyan m-0">Hi, I'm Abhishek</h2>
    <div>
      <button class="btn-add ml-4" (click)="openProfile()" target="_blank"><i class="fa fa-user"></i>About me</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="table_wrapper my-5 mx-3 search-centre about-me">
      I'm Entrepreneur by heart and a developer by profession. I enjoy turning complex problems into simple, beautiful,
      and interactive solutions.<br />
      I have worked across various Web applications, Native web apps(PWA), mobile apps. And love to take an idea through
      design iterations and code it up for others to enjoy, solving some complex web problems along the way. My aim to
      bring across your company message and identity in the most creative way and love to take an idea from scratch and
      build the solution around it to bring the best for both customers and stakeholders.
      <br />
      Hope you enjoy this !! :)
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="table_wrapper my-5 mx-3 search-centre">
      <h1>Problem Statement</h1>
      <div class="about-me">
        Create a simple web application to simulate a lead claiming process. The web app has 2 parts/pages:  <br />
        1. ​Lead generator: ​a simple form where leads are generated. Leads have the following properties: Name*, Email, Phone Number, Comments. Only the name is compulsory  <br />
        2. ​Lead Claiming portal for Agent A and Agent B:​ A simple page that shows leads claimed by the respective agents. Note these are two separate pages  <br />
        <br />
        The lead generation process should work like this:<br />
        - One can create leads using the form in 1<br />
        - Once a lead gets created in 1, it is available for claiming for agents A & B in portal 2.<br />
        - If a lead is claimed by Agent A, it cannot be claimed by Agent B (f​ astest finger first
        approach​). Vice-versa is true as well<br />
        - Once a lead has been claimed, it appears in portal 2 for that respective agent.<br />
        <span
          >In order to avoid memery leak and considering design iteration, I have added it as add lead button at the
          top right corner.</span
        ><br />
    </div>
  </div>
</div>
