.pr-sidebar {
  width: 200px;
  background-color: #05639a;
  position: fixed;
  top: 50px;
  height: calc(100vh - 50px);
  bottom: 0;
  z-index: 999;

  ul {
    margin: 0;
    padding: 40px 10px 0;

    li {
      margin-bottom: 10px;

      a {
        width: 180px;
        height: 30px;
        border-radius: 5px;

        display: block;
        font-size: 14px;
        font-weight: normal;
        color: #fff;
        padding-top: 3px;

        .sidebar-icon {
          margin-left: 20px;
          margin-top: 0px;
          margin-right: 10px;
        }

        &.active {
          background-color: #003d58;
          color: #fff;
        }
      }
      a:not(.active):hover {
        background-color: rgba(0, 61, 88, 0.2);
        color: #fff !important;
      }
    }
  }
  @media (max-width: 991px) {
    width: 75vw;
    top: 50px;
    z-index: 1001;
    height: 100vh;
    ul li a {
      width: 100%;
      height: 40px;
      padding-top: 8px;
    }
  }
  .close-sidenav {
    width: 30px;
    height: 30px;
    background-color: rgba(107, 126, 147, 0.2);
    border-radius: 100%;
    text-align: center;
    position: absolute;
    top: 15px;
    right: 20px;
    padding-top: 7px;
  }
}

a.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

// Sidenav background: when its open
.sidenav-black {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  width: 100%;
  height: 110vh;
  background-color: #00000057;
}

::ng-deep .svg-education {
  color: white !important;
}
